configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "alacritty";

    /* Vim-style keybindings */
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    kb-accept-entry: "Return";
    kb-remove-to-eol: "";
    kb-mode-complete: "";
}

@theme "kanagawa"
