/* Kanagawa theme for wofi */

* {
    font-family: monospace;
    font-size: 14px;
}

window {
    margin: 0px;
    border: 2px solid #957FB8;
    border-radius: 8px;
    background-color: #1F1F28;
}

#input {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #DDD8BB;
    background-color: #363644;
}

#input:focus {
    border: 1px solid #957FB8;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1F1F28;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #1F1F28;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #DDD8BB;
}

#text:selected {
    color: #DDD8BB;
}

#entry {
    border: none;
    border-radius: 4px;
    padding: 5px;
}

#entry:selected {
    background-color: #614A82;
}

#entry:hover {
    background-color: #49473E;
}
